{
  "development": {
    "username": "root",
    "password": "123456",
    "database": "database_OwlEvents",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorAliases": false
  },
  "test": {
    "username": "root",
    "password": "123456",
    "database": "database_OwlEvents",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorAliases": false
  },
  "production": {
    "username": "root",
    "password": "123456",
    "database": "database_OwlEvents",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorAliases": false
  }
}
